{#
/**
 * Chatra plugin for Craft CMS
 *
 * Chatra_UserPane.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2016 Superbig
 * @link      https://superbig.co
 * @package   Chatra
 * @since     1.0.0
 */
#}
{% import "_includes/forms" as forms %}

{% includeCssResource "chatra/css/Chatra_Style.css" %}
{% includeJsResource "chatra/js/Chatra_Script.js" %}

<div class="pane chatra-user-pane">
    <h3>Send message to user with Chatra</h3>
    {% if clientId %}
        <form action="" id="js-chatraMessageForm" class="chatra-form">
            <input type="hidden" name="action" value="chatra/sendMessageToUser">
            <input type="hidden" name="clientId" value="{{ clientId }}">

            {{ forms.textField({
                label: "Message"|t,
                instructions: '',
                id: 'js-chatraMessage',
                name: 'chatraMessage',
            }) }}

            {% if agents | length %}
                {{ forms.selectField({
                    label: 'Agent',
                    instructions: 'Select which agent should be the sender',
                    id: 'agentId',
                    name: 'agentId',
                    options: agents }) }}
            {% else %}
                <p>You need to add one or more agents to use this feature.</p>
            {% endif %}

            <div class="chatra-submit">
                <input type="submit" class="btn" value="{{ 'Send message'|t }}">
                <p class="chatra-success" id="js-chatraSuccess">Message was sent.</p>
            </div>
        </form>
    {% else %}
        <p>The user doesn't have a associated Chatra client id yet.</p>
        {# TODO: Generate one #}
    {% endif %}
</div>